<div class="about_we">
    <p ><%= translation.kom %></p>
    <p><%= translation.kommm %></p>
    <p> <%= translation.komm %>
    </p>
    <p><%= translation.kommmm %></p>
    <p><%= translation.kkom%></p>
    <p><%= translation.kkkom %></p> 
    <p><%= translation.kkkkom %> </p>      
    <p><%= translation.kkkkomm %></p>    
    <p><%= translation.kkkkommm %></p>    
        
</div>


<!-- style="font-size: 25px; word-break: break-all; padding: 50px 100px;" -->
<!-- style="text-align: center; font-size: 60px; padding: 50px 0; font-weight: 600;" -->