<div class="dostavka">
    <div class="dostavka_head">
        <img src="./images/dostavka 1.png" alt="">
    </div>
    <div class="dostavka_body">
        <p><%= translation.yett %></p>
        <p><%= translation.inn %>:</p>
        <ul>
            <li><%= translation.bbbi %></li>
            <li>
                <%= translation.sssi %>
            </li>
            <li><%= translation.sso %></li>
        </ul>
    </div>
</div>